@use "@aleph/nought-sass-mixins/sass/utils";
@use "../../_styles/colors" as *;
@use "../../_styles/mixins" as *;
@use "../../_styles/spacing" as *;
@use "../../_styles/typography" as *;

.container {
  @include containerGrid;
}

.contentWrap {
  @include columns(1, 7);

  padding: to-rem(98px) to-rem($spacing-x-large) to-rem(88px)
    to-rem($spacing-large);

  @include media-breakpoint-down(lg) {
    @include columns(1, 6);

    padding: to-rem($spacing-xxx-large) 0 to-rem($spacing-4x-large);
  }

  @include media-breakpoint-down(md) {
    padding: to-rem($spacing-large) 0 to-rem(44px);
  }
}

.imageWrap {
  @include columns(8, -1);

  position: relative;

  img {
    position: absolute;
    top: -10%;
    left: 0;
    max-width: none;

    @include media-breakpoint-down(lg) {
      transform: translateX(-96px);
    }
  }

  @include media-breakpoint-down(lg) {
    @include columns(7, -1);
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.subscriptionBanner {
  background-color: $gray-50;
  overflow: hidden;

  @include pageComponentSpacing;
}

.header {
  @include headerDesktopH4;

  margin-bottom: to-rem(20px);
}

.text {
  @include media-breakpoint-up(lg) {
    padding-right: to-rem($spacing-large);
  }
}
