@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/spacing" as *;
@use "../../_styles/transitions" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.productGrid {
  @include columns(1, -1);

  display: grid;
  margin-bottom: to-rem($spacing-5x-large);
  grid-template-columns: subgrid;

  @include media-breakpoint-down(lg) {
    margin-bottom: to-rem($spacing-large);
  }

  @include media-breakpoint-down(md) {
    margin-bottom: to-rem($spacing-medium);
  }

  &Wrap {
    @include columns(1, -1);

    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: 1fr;
    gap: to-rem($spacing-small) to-rem($grid-column-gap-flare);
  }

  &Title {
    @include headerH5;
    @include columns(1, -1);

    margin-bottom: to-rem($spacing-medium);

    @include media-breakpoint-down(lg) {
      margin-bottom: to-rem($spacing-small);
    }
  }
}

.product {
  height: 100%;
  padding: to-rem($spacing-standard);
  border-radius: 10px;
  background-color: $pink-50;

  &Wrap {
    transition: all $transition-snappy;
    grid-column: span 3;

    @include media-breakpoint-down(lg) {
      grid-column: span 4;
    }

    &:hover {
      transform: translateY(-10px);
    }
  }

  &Header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  &Info {
    display: flex;
    align-items: center;
    column-gap: to-rem($spacing-x-small);
  }

  &Title {
    @include headerH6;

    margin-bottom: to-rem($spacing-standard);
    color: $pink-700;
  }

  &Description {
    @include paragraphXSmFont;

    margin-bottom: 0;
    color: $black;
  }
}
