@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/spacing" as *;
@use "../../_styles/transitions" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.productGrid {
  @include container;
  @include pageComponentSpacing;

  &Wrap {
    @include grid;

    grid-auto-rows: 1fr;
    gap: to-rem($spacing-small) to-rem($grid-column-gap-flare);
  }

  &Title {
    @include sectionHeaderFont;
    @include sectionHeaderMargin;
  }
}

.product {
  height: 100%;
  padding: to-rem($spacing-standard);
  border-radius: 10px;
  background-color: $pink-card-bg-color;

  &Wrap {
    transition: all $transition-snappy;
    grid-column: span 3;

    &:hover {
      transform: translateY(-10px);
    }

    @include media-breakpoint-down(lg) {
      grid-column: span 4;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: to-rem($spacing-small);

    &__small {
      margin-bottom: to-rem($spacing-x-small);
    }
  }

  &Arrow {
    flex-shrink: 0;
    width: 15px;
    height: 15px;

    path {
      fill: $pink-on-pink-link-color;
    }
  }

  &Info {
    display: flex;
    align-items: center;
    column-gap: to-rem($spacing-x-small);
  }

  &IconWrap {
    display: flex;
    flex-shrink: 0;
    width: to-rem(32px);
    height: to-rem(32px);
  }

  &Icon {
    object-fit: contain;
  }

  &Title {
    @include headerH6;

    margin-bottom: 0;
    color: $pink-on-pink-link-color;

    &__small {
      @include headerH7;

      letter-spacing: 0;
    }
  }

  &Description {
    @include paragraphXSmFont;

    margin-bottom: 0;
    color: $black;
  }
}
