@use "sass:math";
@use "./spacing" as *;
@use "./colors" as *;

$container-width-flare: 1400px;
$container-padding-flare: 24px;
$container-padding-lg: 18px;
$container-padding-md: 16px;
$grid-column-gap-flare: 20px;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1025px;
$breakpoint-xl: 1401px;

@forward "@aleph/nought-sass-mixins" with (
  $grid-column-count: 12,
  $grid-column-gap: $grid-column-gap-flare,
  $container-width: $container-width-flare,
  $container-padding: $container-padding-flare,
  $container-responsive-padding: (
    lg: $container-padding-lg,
    md: $container-padding-md,
  ),
  $grid-responsive-column-counts: (
    lg: 8,
    md: 4,
  ),
  $grid-breakpoints: (
    xs: $breakpoint-xs,
    sm: $breakpoint-sm,
    md: $breakpoint-md,
    lg: $breakpoint-lg,
    xl: $breakpoint-xl,
  )
);

@use "@aleph/nought-sass-mixins" as *;

@mixin container-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {
    @container (width >= #{$min}) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin container-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);

  @if $max {
    @container (width <= #{$max}) {
      @content;
    }
  } @else {
    @content;
  }
}

$root-font-size-number: 20;
$root-font-size: $root-font-size-number * 1px;
// Convert pixels to rem
@function to-rem($pixelSize) {
  $remSize: math.div($pixelSize, $root-font-size);

  @return $remSize * 1rem;
}

@mixin pageWrap() {
  padding-bottom: $spacing-7x-large;
}

@mixin lightGrayCard() {
  border: 1px solid $gray-100;
  border-radius: 10px;
  background-color: $gray-50;
}

@mixin videoWrap {
  position: relative;
  height: 0;
  padding-top: 56.25%;
}
