$spacing-7x-large: 96px;
$spacing-6x-large: 88px;
$spacing-5x-large: 80px;
$spacing-4x-large: 72px;
$spacing-xxx-large: 64px;
$spacing-xx-large: 56px;
$spacing-x-large: 48px;
$spacing-large: 40px;
$spacing-medium: 32px;
$spacing-standard: 24px;
$spacing-small: 16px;
$spacing-x-small: 8px;
$p-margin-bottom: 24px;
$teaser-grid-row-gap: $spacing-7x-large;
$teaser-grid-row-gap-lg: $spacing-xxx-large;
$teaser-grid-row-gap-md: $spacing-xx-large;
$header-height: 124px;
$header-height-mobile: 96px;
$side-nav-height-mobile: 82px;
