@use "../../_styles/colors" as *;
@use "../../_styles/mixins" as *;
@use "../../_styles/spacing" as *;

.linkWrap {
  &,
  &:visited {
    .arrow path {
      fill: $link-color;
    }
  }

  &:hover,
  &:focus,
  &:active {
    .arrow path {
      fill: $link-hover-color;
    }
  }
}

.arrow {
  flex-shrink: 0;
  width: 0.6em;
  height: auto;
  margin-right: to-rem(2px);
  margin-left: to-rem($spacing-x-small);
}
