@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/transitions" as *;
@use "../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.teamGrid {
  &Block {
    @include columns(1, -1);

    display: grid;
    padding-top: to-rem($spacing-medium);

    @include media-breakpoint-down(lg) {
      padding-top: to-rem($spacing-x-small);
      grid-template-columns: subgrid;
    }
  }

  &Wrap {
    @include utils.listReset;

    display: grid;

    @include media-breakpoint-up(lg) {
      @include grid(5);

      gap: to-rem($spacing-xx-large) to-rem($spacing-small);
    }

    @include media-breakpoint-down(lg) {
      @include columns(1, -1);

      grid-template-columns: subgrid;
      row-gap: to-rem($spacing-medium);
    }
  }

  &Member {
    @include media-breakpoint-down(lg) {
      grid-column: span 2;
    }
  }
}

.title {
  @include headerH4;

  margin-bottom: to-rem($spacing-standard);

  @include media-breakpoint-down(lg) {
    margin-bottom: to-rem($spacing-small);
  }

  @include media-breakpoint-down(md) {
    margin-bottom: to-rem($spacing-medium);
  }

  &Wrap {
    @include columns(1, -1);

    display: grid;
  }
}

.imgWrap {
  margin-bottom: to-rem($spacing-x-small);

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.name,
.jobTitle {
  @include paragraphSmFont;

  margin-bottom: 0;
}
