@use "../../_styles/colors" as *;
@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/spacing" as *;
@use "../../_styles/transitions" as *;

.wrap {
  @include grid;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 33px;
  border-radius: 8px 8px 0 0;
  background-color: $gray-50;

  @include labelS;
  @include columns(1, -1);
}

.logoWrap {
  display: flex;
  justify-content: center;
  padding: $spacing-x-large 0;

  @include columns(1, -1);
}

.column {
  &__primary {
    @include columns(1, 4);

    @include media-breakpoint-down(lg) {
      @include columns(6, -1);
    }
  }

  &__main {
    @include columns(4, 10);

    @include media-breakpoint-down(lg) {
      grid-row: 3;
      @include columns(1, 6);
    }
  }

  &__secondary {
    @include columns(10, -1);

    @include media-breakpoint-down(lg) {
      align-items: start;
      gap: $grid-column-gap;

      @include grid(8);
      @include columns(1, -1);
    }
  }
}

.label {
  @include labelS;

  margin-bottom: $spacing-small;
  color: $gray;
}

.product {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.products {
  @include media-breakpoint-up(lg) {
    &:not(:last-child) {
      margin-bottom: $spacing-large;
    }
  }

  @include media-breakpoint-only(md) {
    row-gap: $grid-column-gap;

    .label,
    .product {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-down(lg) {
    display: flex;
    flex-wrap: wrap;
    column-gap: $grid-column-gap;

    .label {
      flex-basis: 100%;
    }

    &:nth-child(odd) {
      @include columns(1, 6);
    }

    &:nth-child(even) {
      @include columns(6, -1);
    }
  }

  .product {
    flex: 1;

    @include media-breakpoint-down(md) {
      flex-basis: 100%;
    }
  }
}

.primary {
  &Header {
    @include headerH7;

    margin: 0 0 $spacing-x-small;
  }

  &Text {
    @include paragraphSm;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.textLayers {
  .textLayer {
    margin-bottom: $spacing-medium;
    padding: $spacing-small 0;
    border-radius: 10px;

    @include media-breakpoint-up(lg) {
      margin-bottom: $spacing-small;
      padding: $spacing-small;

      &:hover {
        background-color: $gray-50;
        cursor: pointer;

        .primaryHeader {
          text-decoration: underline;
        }
      }
    }
  }
}

.layersWrap {
  position: relative;
  aspect-ratio: 6/5;

  .shadowLayer {
    height: 25%;
    transition: opacity $transition-snappy;
    border-radius: 70%;
    box-shadow: 0 10px 83.3px 0 #ff779c;
    opacity: 0;
  }

  .layer {
    position: absolute;

    @include media-breakpoint-up(lg) {
      transition: top 600ms ease-in-out;
    }

    &__top {
      top: 0;
      left: 50%;
      width: 91%;
      transform: translate(-50%);

      &Shadow {
        top: 21%;
        left: 5.5%;
        width: 89%;
      }
    }

    &__middle {
      top: 37%;

      @include media-breakpoint-down(lg) {
        top: 26%;
      }

      &Shadow {
        top: 49.5%;
        left: 1%;
        width: 98%;
        height: 23%;
      }
    }

    &__bottom {
      top: 60%;

      @include media-breakpoint-down(lg) {
        top: 33%;
      }

      &Shadow {
        top: 76%;
        left: 1%;
        width: 98%;
        height: 23%;
      }
    }

    @include media-breakpoint-up(lg) {
      &.active {
        transition: opacity $transition-snappy 600ms;
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    img {
      transition: transform $transition-snappy 200ms;
    }

    &.animate {
      .layer {
        &__middle {
          top: 26%;
        }

        &__bottom {
          top: 33%;
          transition: top 800ms ease-in-out 300ms;
        }
      }
    }

    &.expanded {
      img {
        transition: transform 600ms ease-in-out;
      }

      .layer {
        &__middle img {
          transform: translateY(28%);
        }

        &__bottom img {
          transform: translateY(50%);
        }
      }
    }
  }
}

.flareDot {
  display: flex;
  position: absolute;
  align-items: center;
  min-height: 20px;
  padding: 0 6px;
  border-radius: 10px;
  background-color: $black;
  color: $white;

  @include media-breakpoint-up(md) {
    display: none;
  }

  &::before {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: $white;
    content: "";
  }

  &Text {
    @include labelS;

    max-width: 0;
    margin-bottom: 0;
    padding-left: 0;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    opacity: 0;
  }

  &:hover,
  &:active,
  &:focus-visible {
    .flareDotText {
      max-width: 250px;
      padding-left: 6px;
      opacity: 1;
    }
  }

  &__0 {
    top: 34%;
    left: 8%;
  }

  &__1 {
    top: 5%;
    left: 20%;
  }

  &__2 {
    top: 25%;
    left: 69.5%;
  }

  &__3 {
    top: 49%;
    left: 48.5%;
  }

  &__4 {
    top: 55%;
    left: 26.5%;
  }

  &__5 {
    top: 76%;
    left: 48.5%;
  }
}
