@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/transitions" as *;
@use "../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.container {
  @include container;
}

.header {
  @include h6;

  margin-bottom: to-rem($spacing-standard);
}

.grid {
  @include grid;

  row-gap: to-rem($spacing-x-small);

  @include media-breakpoint-down(lg) {
    row-gap: to-rem($spacing-medium);
  }

  @include media-breakpoint-down(md) {
    row-gap: to-rem($spacing-standard);
  }
}

$event-col-gap: $grid-column-gap;

.event,
.colHeaders {
  padding: $spacing-small;

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    gap: $event-col-gap;
  }
}

.event {
  @include spanColumns(12);

  border-radius: 6px;
  background-color: $pink-50;

  @include media-breakpoint-down(lg) {
    @include spanColumns(4);
  }
}

.colHeaders {
  padding-top: to-rem(12px);
  padding-bottom: to-rem(12px);
  border-top: 1px solid $gray-200;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.colHeader {
  @include label;

  color: $gray;
}

$button-col-width: 177px;

.colHeader,
.title,
.dates,
.location,
.involvement {
  overflow-wrap: break-word;

  @include media-breakpoint-up(lg) {
    flex-shrink: 0;
    width: calc((100% - $button-col-width - ($event-col-gap * 4)) / 4);
    margin-bottom: 0;
  }
}

.title,
.dates,
.location,
.involvement {
  @include paragraphSmFont;

  color: $black;
}

.title {
  @include media-breakpoint-down(lg) {
    color: $pink-700;
  }
}

.location {
  display: flex;
  align-items: center;
  gap: to-rem($spacing-x-small);
}

.buttonWrap {
  flex-shrink: 0;
  width: $button-col-width;
  text-align: right;
}

.flag {
  position: relative;
  flex-shrink: 0;
  width: to-rem(30px);
  height: to-rem(30px);
  border-radius: 50%;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    width: to-rem(24px);
    height: to-rem(24px);
  }

  &_Icon {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }
}
