@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/transitions" as *;
@use "../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

$mobile-text-row-gap: $spacing-x-small;

.wrap {
  container-type: inline-size;

  &__standard {
    @include pageComponentSpacing;
  }
}

.container {
  @include container;
}

.header {
  @include h6;

  margin-bottom: to-rem($spacing-standard);
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: to-rem($spacing-x-small) $grid-column-gap;

  @include container-breakpoint-down(lg) {
    row-gap: to-rem($spacing-medium);
  }

  @include container-breakpoint-down(md) {
    row-gap: to-rem($spacing-standard);
  }
}

$event-col-gap: $grid-column-gap;

.event,
.colHeaders {
  display: flex;
  padding: $spacing-small;

  @include container-breakpoint-up(lg) {
    align-items: center;
    gap: $event-col-gap;
  }

  @include container-breakpoint-down(lg) {
    flex-direction: column;
    gap: $mobile-text-row-gap;
  }
}

.event {
  flex-shrink: 0;
  width: 100%;
  border-radius: 6px;
  background-color: $gray-50;

  @include container-breakpoint-down(lg) {
    width: calc(50% - ($grid-column-gap / 2));
  }

  @container (width <= 650.98px) {
    width: 100%;
  }

  &__desktop {
    @include container-breakpoint-down(lg) {
      display: none;
    }
  }

  &__mobile {
    @include container-breakpoint-up(lg) {
      display: none;
    }
  }
}

.colHeaders {
  padding-top: to-rem(12px);
  padding-bottom: to-rem(12px);
  border-top: 1px solid $gray-200;

  @include container-breakpoint-down(lg) {
    display: none;
  }
}

$button-col-width: 205px;

.colHeader {
  @include label;

  flex-shrink: 0;
  width: calc((100% - $button-col-width - ($event-col-gap * 4)) / 4);
  margin-bottom: 0;
  color: $gray;
  overflow-wrap: break-word;
}

.eventInfo {
  display: flex;
  flex-shrink: 1;
  gap: $event-col-gap;

  @include container-breakpoint-up(lg) {
    align-items: center;
    width: 100%;
  }

  @include container-breakpoint-down(lg) {
    flex-direction: column;
    gap: $mobile-text-row-gap;
  }
}

.title,
.dates,
.location,
.involvement {
  @include paragraphSmFont;

  margin-bottom: 0;
  color: $black;
  overflow-wrap: break-word;

  @include container-breakpoint-up(lg) {
    flex-shrink: 0;
    width: calc((100% - ($event-col-gap * 3)) / 4);
  }
}

.title {
  @include container-breakpoint-down(lg) {
    @include bodyBase;
  }
}

.involvement {
  @include container-breakpoint-down(lg) {
    display: none;
  }
}

.buttonWrap {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  gap: $spacing-x-small;

  @include container-breakpoint-up(lg) {
    width: $button-col-width;
  }

  @include container-breakpoint-down(lg) {
    align-self: flex-end;
  }
}

.button {
  flex-shrink: 0;
}

.mobileHeader {
  display: flex;
  justify-content: space-between;
  gap: $event-col-gap;

  @include container-breakpoint-up(lg) {
    display: none;
  }
}

.mobileHeaderText {
  display: flex;
  flex-direction: column;
  min-width: 0;
  gap: $mobile-text-row-gap;
  overflow-wrap: break-word;
}

.arrow {
  display: block;
  flex-shrink: 0;
}

.eventInner {
  @include container-breakpoint-down(lg) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: $event-col-gap;
  }
}
