@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/transitions" as *;
@use "../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

$mobile-text-row-gap: $spacing-x-small;

.container {
  @include container;
}

.header {
  @include h6;

  margin-bottom: to-rem($spacing-standard);
}

.grid {
  @include grid;

  row-gap: to-rem($spacing-x-small);

  @include media-breakpoint-down(lg) {
    row-gap: to-rem($spacing-medium);
  }

  @include media-breakpoint-down(md) {
    row-gap: to-rem($spacing-standard);
  }
}

$event-col-gap: $grid-column-gap;

.event,
.colHeaders {
  display: flex;
  padding: $spacing-small;

  @include media-breakpoint-up(lg) {
    align-items: center;
    gap: $event-col-gap;
  }

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    justify-content: space-between;
    gap: $mobile-text-row-gap;
  }
}

.event {
  @include spanColumns(12);

  border-radius: 6px;
  background-color: $gray-50;

  @include media-breakpoint-down(lg) {
    @include spanColumns(4);
  }

  &__desktop {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__mobile {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

.colHeaders {
  padding-top: to-rem(12px);
  padding-bottom: to-rem(12px);
  border-top: 1px solid $gray-200;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

$button-col-width: 205px;

.colHeader {
  @include label;

  flex-shrink: 0;
  width: calc((100% - $button-col-width - ($event-col-gap * 4)) / 4);
  margin-bottom: 0;
  color: $gray;
  overflow-wrap: break-word;
}

.eventInfo {
  display: flex;
  flex-shrink: 1;
  width: 100%;
  gap: $event-col-gap;

  @include media-breakpoint-up(lg) {
    align-items: center;
  }

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    gap: $mobile-text-row-gap;
  }
}

.title,
.dates,
.location,
.involvement {
  @include paragraphSmFont;

  margin-bottom: 0;
  color: $black;
  overflow-wrap: break-word;

  @include media-breakpoint-up(lg) {
    flex-shrink: 0;
    width: calc((100% - ($event-col-gap * 3)) / 4);
  }
}

.title {
  @include media-breakpoint-down(lg) {
    @include bodyBase;
  }
}

.flag {
  position: relative;
  flex-shrink: 0;
  width: to-rem(30px);
  height: to-rem(30px);
  border-radius: 50%;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    width: to-rem(24px);
    height: to-rem(24px);
  }

  &_Icon {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }
}

.location {
  display: flex;
  align-items: center;
  gap: to-rem($spacing-x-small);
}

.buttonWrap {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  gap: $spacing-x-small;

  @include media-breakpoint-up(lg) {
    width: $button-col-width;
  }

  @include media-breakpoint-down(lg) {
    align-self: flex-end;
  }
}

.button {
  flex-shrink: 0;
}

.mobileHeader {
  display: flex;
  justify-content: space-between;
  gap: $event-col-gap;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.mobileHeaderText {
  display: flex;
  flex-direction: column;
  gap: $mobile-text-row-gap;
}

.featured {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-x-small;
  gap: $mobile-text-row-gap;

  &_Label {
    @include paragraphSmFont;

    color: $pink-700;
  }

  &_Logo {
    flex-shrink: 0;
    width: 16px;
    height: auto;

    path {
      fill: $pink-600;
    }
  }
}

.arrow {
  display: block;
  flex-shrink: 0;
}

.eventInner {
  @include media-breakpoint-down(lg) {
    display: flex;
    align-items: center;
    gap: $event-col-gap;
  }
}
