@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/transitions" as *;
@use "../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.grid {
  @include grid(10);
}

.pointsWrap {
  @include columns(1, 10);

  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-down(lg) {
    @include columns(1, 8);

    &__standard {
      row-gap: to-rem($spacing-large);
    }
  }

  @include media-breakpoint-down(md) {
    @include columns(1, -1);
  }

  &__textualGrid {
    @include columns(1, 10);
    @include grid(9);

    row-gap: to-rem($spacing-x-large);

    @include media-breakpoint-down(lg) {
      display: flex;
      flex-wrap: wrap;
    }

    @include media-breakpoint-down(md) {
      @include grid;
    }
  }

  &__wideList {
    grid-column-end: 9;

    @include media-breakpoint-down(lg) {
      grid-column-end: -1;
    }
  }
}

.point {
  flex-basis: 100%;

  &__standard {
    @include media-breakpoint-up(lg) {
      flex-basis: 50%;
      padding-bottom: to-rem($spacing-standard);
      border-bottom: 1px solid $gray-100;

      &:nth-child(n + 3) {
        padding-top: to-rem($spacing-large);
      }

      &:nth-child(odd) {
        padding-right: to-rem($spacing-xxx-large);
        border-right: 1px solid $gray-100;
      }

      &:nth-child(even) {
        padding-right: to-rem($spacing-medium);
        padding-left: to-rem($spacing-medium);
      }

      &:last-child,
      &:nth-child(odd):nth-last-child(2) {
        border-bottom: none;
      }
    }
  }

  &__textualGrid {
    grid-column: span 3;

    @include media-breakpoint-down(lg) {
      flex-basis: 30%;
    }

    @include media-breakpoint-down(md) {
      grid-column: span 4;
    }
  }

  &__wideList {
    padding-top: to-rem($spacing-medium);
    padding-bottom: to-rem($spacing-medium);
    border-bottom: 1px solid $gray-50;

    @include media-breakpoint-down(md) {
      padding-top: to-rem($spacing-standard);
      padding-bottom: to-rem($spacing-standard);
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      gap: to-rem($spacing-standard);
    }

    @include media-breakpoint-up(lg) {
      gap: to-rem($spacing-medium);
    }
  }

  &__hasLogos {
    &:nth-child(even) {
      padding-right: 0;
    }
  }

  &_HeaderWrap {
    display: flex;
    align-items: center;
    margin-bottom: to-rem($spacing-small);
    gap: to-rem($spacing-standard);

    @include media-breakpoint-down(lg) {
      margin-bottom: to-rem($spacing-x-small);
    }

    &__textualGrid {
      gap: to-rem($spacing-x-small);
    }
  }

  &_Header {
    @include headerH7;

    margin-bottom: 0;
    color: $black;
  }

  &_Image {
    flex-shrink: 0;
    width: 50px;
    height: auto;

    &__textualGrid {
      width: 24px;
    }

    &__wideList {
      @include media-breakpoint-up(md) {
        width: 72px;
      }

      @include media-breakpoint-up(lg) {
        width: 140px;
      }
    }

    &__standard.point_Image__iso,
    &__textualGrid.point_Image__iso {
      display: none;
    }

    &__wideList.point_Image__header {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }

    &__wideList.point_Image__iso {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &_LogosWrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: to-rem($spacing-large);
    gap: to-rem(10px) to-rem($spacing-small);
  }

  &_Text {
    margin-bottom: to-rem($spacing-standard);
  }

  p {
    @include fontStyle(16, 24);
  }
}

.logoCard {
  display: block;
  align-self: self-start;
  max-width: to-rem(148px);
  height: auto;
  border: 1px solid $gray-200;
  border-radius: 6px;

  &__linked {
    &:hover,
    &:focus-visible {
      border: 1px solid transparent;
      background-color: $gray-50;
    }
  }
}

.imageWrap {
  width: 100%;
  height: auto;

  img {
    display: block;
  }
}
