$black: #232323;
$gray: #777;
$gray-200: #d1d1d1;
$gray-100: #e7e7e7;
$gray-50: #f6f6f6;
$white: #fff;
$dev-hub-gray: #999;
$pink-50: #fff1f3;
$pink-100: #ffe4e8;
$pink-200: #ffccd5;
$pink-300: #ffa2b4;
$pink-400: #fd6f8c;
$pink-500: #f73c68;
$pink-600: #e62058;
$pink-700: #c10f45;
$pink-800: #a11041;
$pink-900: #8a113e;
$pink-950: #4d041d;
$chart-red: #760000;
$chart-green: #52d23d;
$warning-orange: #ff5833;
$warning-orange-highlight: #ffe1d4;
$error-red: #ff1203;
$error-red-highlight: #ffc4c0;
$body-text-color: $gray;
