@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/transitions" as *;
@use "../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

$wrap-gap: to-rem($spacing-standard);

.wrap {
  display: flex;
  gap: $wrap-gap;

  &__column {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__row {
    flex-flow: row wrap;
    flex-shrink: 0;
    align-items: center;
  }
}

.imgWrap {
  min-height: 0;

  &__row {
    max-width: calc(50% - (#{$wrap-gap} / 2));

    @include media-breakpoint-only(md) {
      max-width: calc(40% - (#{$wrap-gap} / 2));
    }
  }
}

.img {
  display: block;
  max-height: 100%;
  object-fit: contain;
  object-position: left center;
}
