@use "../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.gridWrap {
  margin-top: to-rem($spacing-x-large);
}

.btnWrap {
  margin-top: to-rem($spacing-x-large);
  text-align: center;
}
