@use "../../_styles/mixins" as *;
@use "../../_styles/spacing" as *;

.gridWrap {
  margin-top: to-rem($teaser-grid-row-gap);

  @include media-breakpoint-down(lg) {
    margin-top: to-rem($teaser-grid-row-gap-lg);
  }

  @include media-breakpoint-down(md) {
    margin-top: to-rem($teaser-grid-row-gap-md);
  }
}

.btnWrap {
  margin-top: to-rem($spacing-x-large);
  text-align: center;
}
