@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/transitions" as *;
@use "../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.content {
  h2 {
    @include h5;

    margin-bottom: to-rem(16px);
    letter-spacing: 0;
  }

  h3 {
    @include h6;

    margin-bottom: to-rem(16px);
    letter-spacing: 0;
  }

  hr {
    margin: to-rem($p-margin-bottom) auto;
  }
}

.figure {
  display: inline-block;
  margin: to-rem($p-margin-bottom) auto;

  img {
    display: block;
  }
}

.figcaption {
  @include label;

  margin-top: to-rem(12px);
  text-align: center;
}

.video {
  margin: to-rem($spacing-large) auto;
}
