@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/spacing" as *;
@use "../../_styles/transitions" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.introText {
  margin-bottom: to-rem($spacing-small);
}

.cardsWrap {
  @include grid(10);

  row-gap: to-rem($grid-column-gap);

  @include media-breakpoint-down(md) {
    row-gap: to-rem($spacing-small);
  }
}

.card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  grid-column: span 3;

  @include media-breakpoint-down(lg) {
    grid-column: span 4;
  }

  &_Icon {
    width: to-rem(90px);
    height: to-rem(90px);
    margin-right: to-rem($spacing-small);
  }

  &_TextArrowWrap {
    display: flex;
    align-items: center;
    transition: border-color $transition-snappy;
    border-bottom: 2px solid transparent;
  }

  &_Text {
    grid-column: span 1;
    overflow-wrap: anywhere;

    &__link {
      color: $pink-on-pink-link-color;
    }
  }

  &_Arrow {
    flex-shrink: 0;
    width: 0.8em;
    height: auto;
    margin-left: $spacing-x-small;

    path {
      fill: $pink-on-pink-link-color;
    }
  }

  &__link {
    padding: to-rem(14px);
    transition: background-color $transition-snappy;
    background-color: $pink-card-bg-color;

    &:hover,
    &:focus-visible {
      background-color: $pink-card-bg-hover-color;

      .card_TextArrowWrap {
        border-color: $pink-on-pink-link-color;
      }
    }
  }
}
