@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/transitions" as *;
@use "../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.wrap {
  display: flex;
  justify-content: center;

  @include media-breakpoint-down(md) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    scroll-padding: 0 to-rem($spacing-standard);
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.nav {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  margin-right: $container-padding;
  margin-left: $container-padding;
  padding: to-rem(5px);
  border-radius: $border-radius;
  background-color: $pink-50;
  gap: to-rem($spacing-small);

  @include media-breakpoint-down(lg) {
    margin-right: $container-padding-lg;
    margin-left: $container-padding-lg;
  }

  @include media-breakpoint-down(md) {
    margin-right: $container-padding-md;
    margin-left: $container-padding-md;
  }
}

.NewsFilter {
  li {
    list-style: none;
  }
}

.text {
  @include paragraphXSmFont;

  color: $pink-900;
}

.active {
  transition: background-color $transition-speed-default;
  border-radius: to-rem(14px);
  background-color: $pink-900;

  .text {
    color: $white;
    font-size: 16px;
  }
}

.filter {
  flex: 0 1 auto;
  padding: to-rem(8px) to-rem(16px);

  &:hover,
  &:active,
  &:focus {
    transition: background-color $transition-speed-default;
    border-radius: to-rem(14px);
    background-color: $pink-900;

    .text {
      color: $white;
      font-size: 16px;
    }
  }

  @include media-breakpoint-down(md) {
    flex: 0 0 auto;
    // margin-right: 16px;
  }
}
