@use "../../_styles/mixins" as *;
@use "../../_styles/spacing" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;

.wrap {
  @include container;

  display: flex;
  justify-content: space-between;
  gap: $spacing-small;
}

.link {
  display: block;
  padding: $spacing-standard;
  border-radius: 10px;
  background-color: $pink-100;

  .label {
    @include labelS;

    margin-bottom: $spacing-x-small;
  }

  .title {
    margin: 0;
    color: $pink-600;

    &::before,
    &::after {
      display: inline-block;
      width: $spacing-small;
    }
  }

  &.prev .title::before {
    margin-right: 4px;
    content: url($svg-left-arrow-pink-600);
  }

  &.next {
    margin-left: auto;
    text-align: right;

    .title::after {
      margin-left: 4px;
      content: url($svg-right-arrow-pink-600);
    }
  }

  &:hover,
  &:focus-visible,
  &:active {
    .title {
      color: $pink-900;
    }
  }

  &:hover,
  &:focus-visible {
    &.prev {
      .title::before {
        content: url($svg-left-arrow-pink-900);
      }
    }

    &.next {
      .title::after {
        content: url($svg-right-arrow-pink-900);
      }
    }
  }
}
