@use "../../_styles/mixins" as *;
@use "../../_styles/spacing" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/transitions" as *;

.wrap {
  @include container;

  display: flex;
  justify-content: space-between;
  gap: $spacing-small;
}

.link {
  display: block;
  padding: $spacing-standard;
  transition: background-color $transition-snappy;
  border-radius: 10px;
  background-color: $pink-card-bg-color;

  &:hover,
  &:focus-visible {
    background-color: $pink-card-bg-hover-color;
  }

  .label {
    @include labelS;

    margin-bottom: $spacing-x-small;
  }

  .title {
    display: inline-block;
    margin: 0;
    transition: border-color $transition-snappy;
    border-bottom: 2px solid transparent;
    color: $pink-on-pink-link-color;

    &::before,
    &::after {
      display: inline-block;
      width: $spacing-small;
    }
  }

  &:hover .title,
  &:focus-visible .title {
    border-color: $pink-on-pink-link-color;
  }

  &.prev .title::before {
    margin-right: 4px;
    content: url($pink-on-pink-svg-left-arrow);
  }

  &.next {
    margin-left: auto;
    text-align: right;

    .title::after {
      margin-left: 4px;
      content: url($pink-on-pink-svg-right-arrow);
    }
  }
}
