@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/spacing" as *;
@use "../../_styles/transitions" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.wrap {
  margin-right: 17%;
  margin-left: 17%;

  @include media-breakpoint-down(lg) {
    margin-right: 0;
    margin-left: 0;
  }
}
