@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $spacing-standard;
}
