@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/spacing" as *;
@use "../../_styles/transitions" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.sideNav {
  @include columns(1, 3);

  @include media-breakpoint-down(md) {
    position: sticky;
    top: $header-height-mobile - 1px;
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
    transition: top $transition-default;
    background-color: $white;

    :global(.siteHeaderHidden) & {
      top: 0;
    }
  }
}

.wrap {
  $side-nav-top-margin: $spacing-standard;
  @include media-breakpoint-up(md) {
    position: sticky;
    top: $header-height + $side-nav-top-margin;
    transition: top $transition-default;

    :global(.siteHeaderHidden) & {
      top: $side-nav-top-margin;
    }
  }
}

.header {
  @include labelS;

  margin-bottom: to-rem($spacing-small);
}

.list {
  @include utils.listReset;
}

.listItem {
  @include paragraphSmFont;

  position: relative;
  padding-left: 6px;
  line-height: 1;

  &:not(:last-child) {
    margin-bottom: to-rem($spacing-standard);

    @include media-breakpoint-down(md) {
      margin-bottom: to-rem($spacing-small);
    }
  }
}

.link {
  &,
  &:visited,
  &:active {
    color: $body-text-color;
  }

  &:hover,
  &:focus-visible {
    color: $link-hover-color;
  }
}

:global(.active) {
  &.listItem::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 3px;
    height: 100%;
    transform: translateY(-50%);
    border-radius: 4px;
    background-color: $pink-700;
    content: "";
  }

  .link {
    &,
    &:visited,
    &:active {
      color: $black;
    }
  }
}
