@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/spacing" as *;
@use "../../_styles/transitions" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.row {
  @include grid(8);

  column-gap: 0;

  &Last {
    @include media-breakpoint-down(md) {
      margin-bottom: $spacing-standard;
    }
  }
}

.sectionHeader {
  @include label;

  margin: 0;

  @include media-breakpoint-down(md) {
    margin-bottom: $spacing-x-small;
  }
}

.cell {
  position: relative;
  padding: $spacing-small;
  transition: border-radius $transition-snappy;
  box-shadow:
    1px 0 0 0 $gray-200,
    0 1px 0 0 $gray-200,
    1px 1px 0 0 $gray-200,
    1px 0 0 0 $gray-200 inset,
    0 1px 0 0 $gray-200 inset;

  @include spanColumns(3);
  @include paragraphSmFont;

  &.label {
    @include spanColumns(2);

    .sectionHeader {
      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }
  }

  .headerRow & {
    background-color: $gray-100;

    @include media-breakpoint-down(md) {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .rowLast &:last-of-type {
    @include media-breakpoint-down(md) {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.labelText {
  @include paragraphSmFont;

  margin: 0;
  color: $black;
}

.hideInDrawers {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.hideOnTable {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.showHideBtn {
  position: absolute;
  top: 50%;
  right: $spacing-small;
  transform: translateY(-50%);
}

@include media-breakpoint-down(md) {
  .row {
    max-height: 10000px;
    transition: opacity $transition-snappy;

    &.collapsed {
      max-height: 0;
      transition:
        opacity $transition-snappy,
        max-height 0s $transition-speed-default;
      opacity: 0;
    }
  }

  .roundBottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
