@use "../../../_styles/mixins" as *;
@use "../../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.jumpLinkAnchor {
  position: absolute;
  width: 1px;
  height: 100px;
  scroll-margin-top: $spacing-x-large;

  @include media-breakpoint-down(md) {
    scroll-margin-top: $side-nav-height-mobile + $spacing-x-large;
  }
}
