@use "../../../_styles/colors" as *;
@use "../../../_styles/mixins" as *;
@use "../../../_styles/typography" as *;
@use "../../../_styles/spacing" as *;

.article {
  margin-bottom: $spacing-7x-large;
}

.wrap {
  @include pageWrap;
}

.grid {
  @include containerGrid;
}

.backLink {
  display: inline-flex;
  align-items: center;
  margin-bottom: to-rem($spacing-small);
  gap: to-rem($spacing-x-small);

  svg {
    display: block;
  }

  &:hover,
  &:focus-visible,
  &:active {
    svg path {
      fill: $link-hover-color;
    }
  }
}

.header {
  @include columns(3, 11);

  margin-bottom: to-rem($spacing-medium);
  padding-top: to-rem($spacing-large);

  @include media-breakpoint-down(lg) {
    @include columns(2, 8);
  }
}

.title {
  @include headerH2;

  margin-bottom: to-rem($spacing-standard);
}

.meta {
  display: flex;
  align-items: center;
  gap: to-rem($spacing-small);
}

.date {
  @include labelS;

  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  gap: to-rem(4px);

  svg {
    display: block;
  }
}

.contentCol {
  @include columns(4, 11);

  @include media-breakpoint-down(lg) {
    @include columns(3, 8);
  }
}
