@use "../../_styles/colors" as *;
@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/spacing" as *;

.wrap {
  @include pageWrap;
}

.grid {
  @include containerGrid;
}

.backLink {
  display: inline-flex;
  align-items: center;
  margin-bottom: to-rem($spacing-small);
  gap: to-rem($spacing-x-small);

  svg {
    display: block;
  }

  &:hover,
  &:focus,
  &:active {
    svg path {
      fill: $link-hover-color;
    }
  }
}

.header {
  @include columns(3, 11);

  margin-bottom: to-rem($spacing-medium);
  padding-top: to-rem($spacing-large);

  @include media-breakpoint-down(lg) {
    @include columns(2, 8);
  }
}

.title {
  @include headerH2;

  margin-bottom: to-rem($spacing-standard);
}

.meta {
  display: flex;
  align-items: center;
  gap: to-rem($spacing-small);
}

.date {
  @include labelS;

  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  gap: to-rem(4px);

  svg {
    display: block;
  }
}

.social {
  @include columns(3, 4);

  @include media-breakpoint-down(lg) {
    @include columns(2, 3);
  }
}

$social-padding: 8px;
$social-padding-inline: 20px;

.socialInner {
  display: inline-flex;
  align-items: center;
  padding: $social-padding $social-padding-inline;
  border-radius: 20px;
  background-color: $white;
  box-shadow: 1px 3px 5px rgba(0 0 0 / 15%);
  gap: $spacing-small;

  @include media-breakpoint-down(md) {
    margin-bottom: to-rem($spacing-medium);
  }

  @include media-breakpoint-up(md) {
    flex-direction: column;
    margin-top: 5px;
    padding: $social-padding-inline $social-padding;
  }

  svg {
    display: block;
    width: 22px;
    height: auto;
  }
}

.contentCol {
  @include columns(4, 11);

  @include media-breakpoint-down(lg) {
    @include columns(3, 8);
  }
}
