@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/transitions" as *;
@use "../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.Button {
  @include utils.buttonReset;

  display: inline-block;
  padding: to-rem(10px) to-rem(20px);
  transition: all $transition-snappy;
  border-radius: 10px;
  background-color: $pink-700;
  text-align: center;

  &,
  &:hover,
  &:focus-visible,
  &:active {
    text-decoration: none;
  }

  &:hover,
  &:focus-visible {
    background-color: $pink-800;
  }

  &[disabled] {
    background-color: $pink-100;
    color: $pink-400;
    cursor: not-allowed;
  }

  &,
  &:visited,
  &:hover,
  &:focus-visible,
  &:active {
    svg.buttonIcon path {
      fill: $white;
    }
  }
}

.text {
  color: $white;
}

.medium {
  @include fontStyle(16, 24);
}

.large {
  @include bodyBaseDesktop;

  max-width: 100%;
  padding: to-rem(10px) to-rem(24px);
}

.small {
  @include fontStyle(14, 20);

  padding: 8px to-rem(16px);
}

.black {
  background-color: $black;

  &:hover,
  &:focus-visible {
    background-color: $gray;
  }

  &[disabled] {
    background-color: $gray-200;
    color: $gray;
  }
}

.secondary {
  border: 1px solid $gray-200;
  background-color: $white;
  color: $black;

  &:hover,
  &:focus-visible {
    border: 1px solid transparent;
    background-color: $gray-50;
  }

  .text {
    color: $black;
  }

  &[disabled] {
    border: 1px solid $gray-50;
    background-color: $white;
    color: $gray-200;
  }

  &,
  &:visited,
  &:hover,
  &:focus-visible,
  &:active {
    /* stylelint-disable-next-line no-descending-specificity */
    svg.buttonIcon path {
      fill: $black;
    }
  }
}
