@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/transitions" as *;
@use "../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.Wrap {
  @include container;

  max-width: none;
  margin-bottom: to-rem($spacing-medium);
  background-color: $gray-50;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonWrap {
  display: flex;
  column-gap: to-rem($spacing-small);
  z-index: 3;
}

.Button {
  flex-shrink: 0;
  margin-bottom: 0;
}
