@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/transitions" as *;
@use "../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.Wrap {
  @include container;
  @include pageComponentSpacing;

  max-width: none;
  margin-bottom: to-rem($spacing-medium);
  background-color: $gray-50;

  &__hasSocialMediaButtons {
    height: to-rem(200px);
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      height: to-rem(245px);
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__hasSecondary {
    @include media-breakpoint-down(md) {
      flex-direction: column;
      padding-top: to-rem($spacing-xx-large);
      padding-bottom: to-rem($spacing-standard);
    }
  }

  &__hasSocialMediaButtons {
    height: 100%;

    & > * {
      flex: 0 1 auto;
    }

    & > *:nth-child(2) {
      flex: 0 0 auto;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      width: 100%;
    }
  }
}

.buttonWrap {
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
  gap: to-rem($spacing-small);

  &__socialMediaButtons {
    justify-content: flex-start;
    gap: to-rem($spacing-x-small);
  }

  .content__hasSecondary & {
    @include media-breakpoint-down(md) {
      margin-bottom: to-rem($spacing-small);
    }
  }
}

.Button {
  flex-shrink: 0;
  margin-bottom: 0;

  &__icon {
    display: flex;
    width: to-rem(48px);
    height: to-rem(48px);
    padding: to-rem(12px);
    transition: all $transition-snappy;
    border: 1px solid $gray-200;
    border-radius: 10px;
    background-color: $white;

    &:hover,
    &:focus {
      background-color: $gray-50;
    }
  }
}
