@use "../../_styles/colors" as *;
@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/spacing" as *;

.pageBanner {
  @include container;

  margin-top: to-rem(-1px);
  border-top: 1px solid $gray-100;

  &Content {
    padding: to-rem($spacing-small) 0;

    p {
      @include paragraphXSmFont;

      color: $black;
      text-align: center;
    }
  }
}
