@use "../../_styles/mixins" as *;
@use "../../_styles/spacing" as *;

.wrap {
  @include pageWrap;
}

.grid {
  @include containerGrid;
  @include pageComponentSpacing;
}

.mainContent {
  @include columns(3, -1);

  > * {
    margin-top: to-rem($spacing-4x-large);
    margin-bottom: to-rem($spacing-4x-large);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.jumpLinkAnchor {
      margin: 0;
    }
  }
}
