@use "../../_styles/mixins" as *;
@use "../../_styles/spacing" as *;

.wrap {
  @include pageWrap;
}

.grid {
  @include containerGrid;
  @include pageComponentSpacing;
}

.mainContent {
  @include columns(3, -1);

  > * {
    margin-top: to-rem($spacing-4x-large);
    margin-bottom: to-rem($spacing-4x-large);

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child,
    &.jumpLinkAnchor:first-child + * {
      margin-top: 0;
    }

    &.jumpLinkAnchor {
      margin: 0;
    }
  }

  &__fullWidth {
    @include columns(1, -1);
  }
}

.block {
  &.standardTopMargin {
    margin-bottom: $spacing-standard;
  }

  &.standardBottomMargin {
    margin-bottom: $spacing-standard;
  }
}
