@use "../../_styles/mixins" as *;
@use "../../_styles/spacing" as *;

.wrap {
  @include pageWrap;
}

.grid {
  @include containerGrid;
  @include pageComponentSpacing;
}

.mainContent {
  @include columns(3, -1);

  > * {
    margin-top: to-rem($spacing-4x-large);
    margin-bottom: to-rem($spacing-4x-large);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.jumpLinkAnchor {
      margin: 0;
    }
  }
}

.devHub {
  &_PastEvents {
    @include pageComponentSpacing;

    & > *:first-child {
      margin-bottom: to-rem(36px);

      @include media-breakpoint-down(lg) {
        margin-bottom: to-rem($spacing-standard);
      }

      @include media-breakpoint-down(md) {
        margin-bottom: to-rem($spacing-small);
      }
    }
  }
}
