@use "sass:math";
@use "@aleph/nought-sass-mixins/sass/utils";
@use "../../_styles/colors" as *;
@use "../../_styles/spacing" as *;
@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;

.mobileToggle {
  @include utils.buttonReset;

  position: relative;
  width: 44px;
  height: 26px;

  @include media-breakpoint-up(md) {
    display: none;
  }

  &_Bars {
    display: block;
    width: 28px;
    margin-left: auto;
  }

  &_Bar {
    display: block;
    width: 21px;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    transition: opacity 150ms;
    background-color: $pink-600;
    opacity: 1;

    &:nth-child(2) {
      width: 28px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &__open {
      opacity: 0;
    }
  }

  &_Close {
    @include labelS;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 150ms;
    color: $black;
    text-decoration: underline;
    opacity: 0;

    &__open {
      opacity: 1;
    }
  }
}

.nav {
  color: $black;

  @include media-breakpoint-down(md) {
    @include container;

    position: fixed;
    padding-top: 14px;
    border-top: 1px solid $gray-100;
    background-color: $white;
    opacity: 0;
    overflow: auto;
    visibility: hidden;
    inset: 120px 0 0;
    pointer-events: none;

    &__isMobile {
      transition:
        opacity 250ms,
        visibility 250ms;
    }

    &__mobileOpen {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}

.navList {
  @include utils.listReset;

  @include media-breakpoint-up(md) {
    display: flex;
    position: relative;
    align-items: flex-end;
    column-gap: $spacing-small;
  }

  @include media-breakpoint-up(lg) {
    column-gap: $spacing-medium;
  }
}

.menuItem {
  @include media-breakpoint-down(md) {
    width: 100%;
  }

  &__open {
    @include media-breakpoint-up(md) {
      z-index: 1;
    }
  }

  &_TopLevelMenuItem {
    @include utils.buttonReset;
    @include paragraphXSmFont;

    display: block;
    position: relative;
    transition: color 250ms;
    text-align: left;

    @include media-breakpoint-up(md) {
      padding: $spacing-x-small $spacing-small;
    }

    @include media-breakpoint-down(md) {
      @include headerMobileH5;

      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-top: $spacing-standard;
      padding-bottom: $spacing-standard;
      column-gap: $spacing-x-small;
    }

    &__open {
      @include media-breakpoint-up(md) {
        color: $pink-600;
      }
    }
  }

  &_TopLevelMenuItemArrow {
    @include media-breakpoint-up(md) {
      position: absolute;
      margin-left: to-rem($spacing-x-small);
      transition: opacity 250ms;
      opacity: 0;
    }

    @include media-breakpoint-down(md) {
      margin-top: -4px;
    }

    svg {
      transition: transform 250ms;

      @include media-breakpoint-down(md) {
        width: 12px;
        height: auto;
        transform: rotate(-90deg);

        path {
          fill: $black;
        }
      }
    }

    &__open {
      @include media-breakpoint-up(md) {
        opacity: 1;
      }

      svg {
        @include media-breakpoint-down(md) {
          transform: rotate(0deg);
        }
      }
    }
  }
}

.submenu {
  &,
  :global(.siteHeader__flownAway) & {
    visibility: hidden;
    pointer-events: none;
  }

  &__open {
    visibility: visible;
    pointer-events: auto;
  }

  @include media-breakpoint-up(md) {
    position: fixed;
    transform: translateX(100%);
    transition:
      transform 250ms,
      visibility 250ms;
    border-top: 0.5px solid $gray-200;
    border-left: 0.5px solid $gray-200;
    background-color: $white;
    overflow: auto;
    inset: 124px 0 0 50%;

    &__open {
      transform: translateX(0);
    }
  }

  @include media-breakpoint-down(md) {
    max-height: 0;
    transition:
      max-height 250ms ease-out,
      visibility 1ms 250ms;
    overflow: hidden;

    &__open {
      height: auto;
      max-height: 800px;
      transition: max-height 250ms ease-in;
    }
  }
}

.submenus {
  @include media-breakpoint-down(md) {
    margin-top: $spacing-x-small;
    margin-right: $spacing-small;
    margin-left: $spacing-small;
  }
}

$link-group-padding: 60px;
$link-group-with-bg-side-padding: 30px;

.linkGroup {
  @include utils.listReset;

  @include media-breakpoint-up(md) {
    padding: $link-group-padding;
    padding-right: $container-padding-lg;

    &:not(:first-child) {
      border-top: 1px solid $gray-200;
    }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: $spacing-x-large;

    &:last-child {
      margin-bottom: $spacing-medium;
    }
  }

  &__hasBg {
    @include media-breakpoint-up(md) {
      margin-right: $container-padding-lg;
      margin-bottom: $link-group-padding;
      margin-left: $link-group-padding - $link-group-with-bg-side-padding;
      padding: 40px $link-group-with-bg-side-padding 48px;
      border-radius: 10px;
      background-color: $gray-50;

      &,
      &:not(:first-child) {
        border: 0;
      }
    }
  }
}

.linkGroupHeader {
  @include paragraphSmFont;

  margin-bottom: to-rem($spacing-small);
  color: $gray;

  @include media-breakpoint-down(md) {
    @include labelS;

    margin-bottom: to-rem($spacing-small);
  }
}

.linkGroupItem {
  @include headerDesktopH4;

  @include media-breakpoint-down(md) {
    @include fontStyle(16, 24);
  }

  &:not(:last-child) {
    margin-bottom: to-rem($spacing-standard);

    @include media-breakpoint-up(md) {
      margin-bottom: to-rem($spacing-small);
    }
  }
}

.submenuLink {
  &,
  &:visited {
    color: $black;
  }

  &:hover,
  &:focus {
    color: $pink-600;
  }

  &:active {
    color: $pink-800;
  }
}
