@use "sass:math";
@use "./spacing" as *;

$container-width-flare: 1400px;
$container-padding-flare: 24px;
$container-padding-lg: 18px;
$container-padding-md: 16px;
$grid-column-gap-flare: 20px;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1025px;
$breakpoint-xl: 1401px;

@forward "@aleph/nought-sass-mixins" with (
  $grid-column-count: 12,
  $grid-column-gap: $grid-column-gap-flare,
  $container-width: $container-width-flare,
  $container-padding: $container-padding-flare,
  $container-responsive-padding: (
    lg: $container-padding-lg,
    md: $container-padding-md,
  ),
  $grid-responsive-column-counts: (
    lg: 9,
    md: 3,
  ),
  $grid-breakpoints: (
    xs: $breakpoint-xs,
    sm: $breakpoint-sm,
    md: $breakpoint-md,
    lg: $breakpoint-lg,
    xl: $breakpoint-xl,
  )
);

@use "@aleph/nought-sass-mixins" as *;

$root-font-size-number: 20;
$root-font-size: $root-font-size-number * 1px;
// Convert pixels to rem
@function to-rem($pixelSize) {
  $remSize: math.div($pixelSize, $root-font-size);

  @return $remSize * 1rem;
}
