$spacing-xxxxx-large: 80px;
$spacing-xxxx-large: 72px;
$spacing-xxx-large: 64px;
$spacing-xx-large: 56px;
$spacing-x-large: 48px;
$spacing-large: 40px;
$spacing-medium: 32px;
$spacing-standard: 24px;
$spacing-small: 16px;
$spacing-x-small: 8px;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1401px;
$p-margin-bottom: 24px;
