@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.twoColumnBlock {
  @include grid(10);
  @include pageComponentSpacing;

  @include media-breakpoint-down(lg) {
    @include grid(6, false);
  }

  @include media-breakpoint-down(md) {
    @include grid(4, false);
  }
}

.column {
  &Text {
    @include bodyBaseMobile;

    display: flex;
    align-items: center;

    a {
      svg {
        display: none;
      }
    }
  }

  &__default {
    &:first-child {
      @include columnNarrow;
    }

    &:last-child {
      @include columnWide;
    }
  }

  &__even {
    @include columnEven;
  }

  &__reverse {
    &:first-child {
      @include columnWide;
    }

    &:last-child {
      @include columnNarrow;
    }
  }
}

.image {
  @include media-breakpoint-down(md) {
    position: absolute;
    top: 0;
    left: -25vw;
    transform: translateY(-30%);
  }

  &Wrap {
    position: relative;
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(md) {
      width: 50%;
      height: auto;
    }
  }
}

.showOnMobile {
  @include showOnMobile;

  @include media-breakpoint-down(md) {
    position: absolute;
    top: 0;
    // left: 50vw;
    right: 0;
    transform: translateX(150%) translateY(20%) scaleX(-1);
  }
}
