@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.twoColumnBlock {
  @include grid(10);
  @include pageComponentSpacing;

  margin-right: -$container-padding-md;
  margin-left: -$container-padding-md;
  padding-right: $container-padding-md;
  padding-left: $container-padding-md;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    @include grid(6, false);
  }

  @include media-breakpoint-down(md) {
    @include grid(4, false);
  }
}

.column {
  &Image {
    height: 100%;
    z-index: -1;
    grid-row: 1;
  }

  &Text {
    @include bodyBaseMobile;

    display: flex;
    align-items: center;
    grid-row: 1;

    a {
      svg {
        display: none;
      }
    }
  }

  &__default {
    &:first-child {
      @include columnNarrow;
    }

    &:last-child {
      @include columnWide;
    }
  }

  &__even {
    @include columnEven;
  }

  &__reverse {
    &:first-child {
      @include columnWide;
    }

    &:last-child {
      @include columnNarrow;
    }
  }
}

.image {
  @include media-breakpoint-down(md) {
    position: absolute;
    top: -75%;
    left: -25%;
    width: 50%;
  }

  &Wrap {
    position: relative;
    width: 100%;
    height: 100%;

    // @include media-breakpoint-down(md) {
    //   width: 100%;
    //   height: 100%;
    // }
  }
}

.showOnMobile {
  @include showOnMobile;

  @include media-breakpoint-down(md) {
    position: absolute;
    bottom: -30%;
    left: 75%;
    width: 50%;
    transform: scaleX(-1);
  }
}
