@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/colors" as *;
@use "../../_styles/spacing" as *;
@use "../../_styles/transitions" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

.title {
  @include sectionHeaderFont;
  @include sectionHeaderMargin;
}

.text {
  margin-bottom: to-rem($spacing-small);
}

.channels {
  @include grid;
  @include columns(1, -1);

  row-gap: to-rem(11px);
}

.channel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: to-rem($spacing-standard) to-rem($spacing-medium);
  transition: background-color $transition-snappy;
  border-radius: 11px;
  background-color: $pink-card-bg-color;
  grid-column: span 3;

  &:hover,
  &:focus-visible {
    background-color: $pink-card-bg-hover-color;
  }

  @include media-breakpoint-down(lg) {
    grid-column: span 2;
  }

  &Title {
    @include bodyBaseMobile;

    transition: border-color $transition-snappy;
    border-bottom: 2px solid transparent;
    color: $pink-on-pink-link-color;

    .channel:hover &,
    .channel:focus-visible & {
      border-color: $pink-on-pink-link-color;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &Icon {
    @include officialChannelsIcon;

    width: to-rem(30px);
    height: to-rem(30px);
    margin-right: to-rem($spacing-x-small);
  }

  &,
  &:visited {
    svg,
    svg.channelArrow {
      path {
        fill: $pink-on-pink-link-color;
      }
    }
  }

  &:hover,
  &:focus-visible,
  &:active {
    svg,
    svg.channelArrow {
      /* stylelint-disable-next-line no-descending-specificity */
      path {
        fill: $pink-on-pink-link-color;
      }
    }
  }
}

.card {
  display: flex;
  align-items: center;
}
