@use "../../_styles/mixins" as *;
@use "../../_styles/spacing" as *;

.wrap {
  @include pageWrap;
}

.grid {
  @include containerGrid;
  @include pageComponentSpacing;
}

.mainContent {
  overflow: hidden;
  @include columns(3, -1);

  &__fullWidth {
    @include columns(1, -1);
  }
}

.block {
  margin-top: to-rem($spacing-4x-large);
  margin-bottom: to-rem($spacing-4x-large);

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  .jumpLinkAnchor:first-child + & {
    margin: 0;
  }

  &__standardTopMargin {
    margin-top: to-rem($spacing-standard);
  }

  &__standardBottomMargin {
    margin-bottom: to-rem($spacing-standard);
  }
}
