@use "../../_styles/colors" as *;
@use "../../_styles/mixins" as *;
@use "../../_styles/typography" as *;
@use "../../_styles/spacing" as *;
@use "../../_styles/transitions" as *;

.label {
  transition: fill $transition-snappy;
  fill: $black;
}

.ring {
  transition: fill $transition-snappy;
  fill: $pink-600;

  &_light {
    transition: fill $transition-snappy;
    fill: $pink-50;
  }
}

.wrap {
  @include fullWidthBreakout;

  transition: background-color $transition-snappy;
  background-color: transparent;
  overflow: hidden;

  &:hover {
    background-color: $pink-600;

    .label {
      fill: $white;
    }

    .ring {
      fill: $pink-100;

      &_light {
        fill: $pink-400;
      }
    }
  }
}

.container {
  height: 100%;

  @include containerGrid;
}

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  min-height: 547px;
  transition: color $transition-snappy;
  color: $black;
  pointer-events: none;

  @include columns(8, -1);

  .wrap:hover & {
    color: $white;
  }
}

.header {
  margin-bottom: $spacing-medium;
  transition: color $transition-snappy;
  color: $black;

  @include hugeHeader;

  .wrap:hover & {
    color: $white;
  }
}

.counter {
  @include headerDesktopH3;
}

.text {
  @include paragraphXSm;
}

.circleGraph {
  margin-right: $spacing-small;
  float: left;
}

.bgVideo {
  width: auto;
  height: 100%;
  object-fit: contain;

  &Wrap {
    position: absolute;
    inset: 0;
  }
}
