@use "../../../../_styles/mixins" as *;
@use "../../../../_styles/typography" as *;
@use "../../../../_styles/colors" as *;
@use "../../../../_styles/transitions" as *;
@use "../../../../_styles/spacing" as *;
@use "@aleph/nought-sass-mixins/sass/utils";

$image-transform-y-default: 45%;
$image-left-transform-y-md: 55%;
$image-left-transform-y-sm: -15%;
$image-right-transform-y-md: -38%;
$image-right-transform-y-sm: 25%;

.ImageWrap {
  overflow: hidden;

  @include media-breakpoint-down(md) {
    &:first-child {
      display: none;
    }
  }

  &.bgImg__offset {
    transform: translateY(-35%);
  }

  &__hasSocialMediaButtons {
    flex: 0 1 auto;
    overflow: visible;

    @include media-breakpoint-down(md) {
      &:first-child {
        display: block;
      }
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
}

.bgImg {
  &__left,
  &__right {
    display: block;

    @include media-breakpoint-down(lg) {
      width: to-rem(200px);
    }
  }

  &__left {
    @include media-breakpoint-down(md) {
      display: none;
    }

    &.bgImg__flipped {
      transform: translateY(25%) scale(1.5);
    }

    &.bgImg__offset {
      transform: translateY(-35%);
    }

    &.bgImg__hasSocialMediaButtons {
      display: block;
      width: to-rem(200px);
      transform: translateY($image-transform-y-default);

      @include media-breakpoint-down(md) {
        transform: translateY($image-left-transform-y-md);
      }

      @include media-breakpoint-down(sm) {
        width: to-rem(120px);
        margin-left: auto;
        transform: translateY($image-left-transform-y-sm);
      }
    }
  }

  &__right {
    &.bgImg__flipped {
      /* stylelint-disable-next-line prettier/prettier */
      transform: rotate(180deg) translateY(25%) scale(1.5);

      @include media-breakpoint-down(md) {
        transform: rotate(0);
      }
    }

    &.bgImg__offset {
      /* stylelint-disable-next-line prettier/prettier */
      transform: translateY(35%);

      @include media-breakpoint-down(md) {
        transform: rotate(0);
      }
    }

    &.bgImg__hasSocialMediaButtons {
      width: to-rem(200px);
      transform: translateY(-$image-transform-y-default);

      @include media-breakpoint-down(md) {
        transform: translateY($image-right-transform-y-md);
      }

      @include media-breakpoint-down(sm) {
        width: to-rem(120px);
        transform: translateY($image-right-transform-y-sm);
      }
    }
  }

  // &__flipped {
  //   transform: rotate(180deg) translateY(25%) scale(1.5);

  //   @include media-breakpoint-down(md) {
  //     transform: rotate(0);
  //   }
  // }

  // &__offset {
  //   transform: translateY(35%);

  //   @include media-breakpoint-down(md) {
  //     transform: rotate(0);
  //   }
  // }
}
